.body {
  width: 60vw;
  margin: 0 auto;
  border-radius: 10px;
  border: solid 1px rgb(245, 245, 245);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}

.buttons{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}


.body span{
  font-size: 0.7rem;
}

.body h2{
  font-size: 1.2rem;
}

.body span, .body h2{
  align-self: center;
}

.project__name__and__description{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.project__name__and__description h2{
  margin-bottom: 15px;
}

.grey__color{
  color: grey;
}

.image{
  position: absolute;
  top: 0;
  left: 50%;
  height: 40px;
  width: 40px;
  transform: translate(-50%, -50%);
}

.button{
  background-color: #167A73;
  color: white;
  height: 40px;
  border-radius: 20px;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
  font-size: 0.7rem;
  cursor: pointer;
}

.bookmark{
  color: white;
  height: 40px;
  border-radius: 20px;
  border: none;
  padding-left: 50px;
  padding-right: 20px;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  color: #167A73;
}

.bookmark__design{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #167A73;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; /* This helps the box to avoid becoming bigger */
}

.bookmark__grey{
  background-color: #F4F4F4;
  color: #707070;
}

.bookmark__design__grey{
  background-color: #707070;
  border: solid 1px #707070;
}

.bookmark__design__letters{
  font-size: xx-small;
}
