.body{
  padding: 20px;
  width: 70vw;
  margin: 0 auto;
  position: fixed;
  background-color: white;
  top: 10vh;
  left: 0;
  right: 0;
  z-index: 2;
  border-radius: 5px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5); /* black with 50% opacity */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* ensure it's below the body */
}

.details__projects__upper{
  display: flex;
  box-sizing: border-box;
  min-height: 100%;
  align-items: center;
  position: relative;
}

.details__projects__upper__name__and__price{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.details__projects__upper__name__and__price span{
  color: #3EB3AC;
}

.details__projects__upper__name__and__price span,
.details__projects__upper__name__and__price h2{
  margin-left: 40px;
  font-size: 1rem;
  font-weight: 700;
}

.details__projects{
  
  padding: 20px 20px;
  box-sizing: border-box;
}

span.details__projects__lower{
  box-sizing: border-box;  /* includes padding and border in the element's total width */
  width: 100%;
  display: block;
  text-align: start;
  padding-bottom: 20px;
  padding-left: 45px;
  color: grey;
  padding-right: 20px;
}

.details__projects__upper__and__lower{
  border-radius: 5px;
  border: solid 2px #3EB3AC;
  cursor: pointer;
  margin-top: 20px;
}

.body__EnterYourPledge{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px rgb(240, 240, 240);
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding: 10px 20px;
}

.body__EnterYourPledge button,
.body__EnterYourPledge input{
  width: 80px;
  border-radius: 20px;
  font-size: 0.7rem;
}

/* // height changed manually to fix the gap // */

.body__EnterYourPledge button{
  height: 35px;
  margin-left: 20px;
  border: none;
  background-color: #3EB3AC;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.body__EnterYourPledge input{
  height: 30px;
  width: 70px;
  border: solid 2px rgb(210, 210, 210);
  padding-left: 10px;
  font-weight: bold;
}

.body__EnterYourPledge input:focus{
  outline: none;
}

.body__EnterYourPledge input::-webkit-input-placeholder{
  color: black;
  font-weight: bold;
}

.details__projects__upper__and__lower__with__radius__and__color{
  border-radius: 5px;
  border-color: rgb(235, 235, 235);
}

.body__EnterYourPledge__border__bottom__none{
  border-bottom: none;
}

.button{
  border: none;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.details__projects__upper__numbers__left{
  display: flex;
}

.buttons{
  position: absolute;
  top: -2px;
}